%nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars
      %a.navbar-brand{:href => "index.html"}
        %h1 LEON
    .navbar-collapse.navbar-right.navbar-main-collapse.collapse{:style => "height: auto;"}
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#intro"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#service"} Service
        %li
          %a{:href => "#contact"} Contact