.container
  .col-md-4.col-md-offset-4
    .starter-template{style: 'text-align:center;margin-top:100px;'}
      = image_tag 'intekgroup-logo.png', class: 'img-responsive'
      %h1{style: 'margin-top: 20px;'} Intek Group
      %p.lead
        Website đang trong giai đoạn bảo trì hệ thống. Xin quý khách vui lòng trở lại vào lần sau!
    .contact-us
      %p
        Mobile: 0902599948
        %br Email: #{mail_to 'info@intekgroup.vn'}